#!/bin/sh

# XiPKI Backup/Installer Configs

# Download URLs
XIPKI_OCSP_URL="https://github.com/xipki/xipki/releases/download/v5.3.15/xipki-ocsp-5.3.15.zip"
XIPKI_DBTOOL_URL="https://github.com/xipki/xipki/releases/download/v5.3.15/xipki-dbtool-5.3.15.zip"


WORK_DIR=$(pwd)
HOSTNAME="localhost"
PORT="8080"


# provided files
MY_OCSP_CONF="${WORK_DIR}/ocsp-responder.json"
MY_DB_CONF_CACHE="${WORK_DIR}/ocsp-cache-db.properties"
MY_DB_CONF_CRL="${WORK_DIR}/ocsp-crl-db.properties"
MY_CRL_DIR="${WORK_DIR}/crls"

MY_CA_ROOT_NAME="root"
MY_CA_ROOT_P12="${WORK_DIR}/${MY_CA_ROOT_NAME}-ocsp.p12"
MY_CA_ROOT_P12_PASS="xipki"
MY_CA_ROOT_CRT="${WORK_DIR}/${MY_CA_ROOT_NAME}-ca.crt"
MY_CA_ROOT_CRL="${WORK_DIR}/${MY_CA_ROOT_NAME}-ca.crl"
MY_CA_ROOT_ISSUER_CRT="${WORK_DIR}/${MY_CA_ROOT_NAME}-ca.crt"
MY_CA_ROOT_OCSP_URL="/${MY_CA_ROOT_NAME}"
MY_CA_ROOT_OCSP_FULL_URL="http://${HOSTNAME}:${PORT}$MY_CA_ROOT_OCSP_URL"

MY_CA_INTERMEDIATE_NAME="intermediate"
MY_CA_INTERMEDIATE_P12="${WORK_DIR}/${MY_CA_INTERMEDIATE_NAME}-ocsp.p12"
MY_CA_INTERMEDIATE_P12_PASS="xipki"
MY_CA_INTERMEDIATE_CRT="${WORK_DIR}/${MY_CA_INTERMEDIATE_NAME}-ca.crt"
MY_CA_INTERMEDIATE_CRL="${WORK_DIR}/${MY_CA_INTERMEDIATE_NAME}-ca.crl"
MY_CA_INTERMEDIATE_ISSUER_CRT="${WORK_DIR}/${MY_CA_ROOT_NAME}-ca.crt"
MY_CA_INTERMEDIATE_OCSP_URL="/${MY_CA_INTERMEDIATE_NAME}"
MY_CA_INTERMEDIATE_OCSP_FULL_URL="http://${HOSTNAME}:${PORT}$MY_CA_INTERMEDIATE_OCSP_URL"


# Tomcat
TOMCAT_DIR="/opt"
TOMCAT_USER="tomcat"
TOMCAT_LIB_DIR="${TOMCAT_DIR}/lib"
TOMCAT_BIN_DIR="${TOMCAT_DIR}/bin"
TOMCAT_CONF_DIR="${TOMCAT_DIR}/conf"
TOMCAT_PROPERTIES="${TOMCAT_CONF_DIR}/catalina.properties"
TOMCAT_WEBAPP_DIR="${TOMCAT_DIR}/webapps"
TOMCAT_WEBAPP_ROOT_WAR="${TOMCAT_WEBAPP_DIR}/ROOT.war"
TOMCAT_WEBAPP_ROOT_WAR_DIR="${TOMCAT_WEBAPP_DIR}/ROOT"


# XiPKI OCSP
TOMCAT_XIPKI_DIR="${TOMCAT_DIR}/xipki"
# xipki etc
XIPKI_ETC_DIR="${TOMCAT_XIPKI_DIR}/etc/ocsp"
EXAMPLE_OCSP_CONF="${XIPKI_ETC_DIR}/example/crl-store/ocsp-responder.json"
XIPKI_OCSP_CONF="${XIPKI_ETC_DIR}/ocsp-responder.json"
EXAMPLE_DB_CONF_CACHE="${XIPKI_ETC_DIR}/database/mariadb/ocsp-cache-db.properties"
EXAMPLE_DB_CRL_CACHE="${XIPKI_ETC_DIR}/database/mariadb/ocsp-crl-db.properties"
XIPKI_DB_CONF_CACHE="${XIPKI_ETC_DIR}/database/ocsp-cache-db.properties"
XIPKI_DB_CONF_CRL="${XIPKI_ETC_DIR}/database/ocsp-crl-db.properties"
# xipki keystore
XIPKI_KEYSTORE_DIR="${TOMCAT_XIPKI_DIR}/keycerts"
XIPKI_OCSP_ROOT_P12="${XIPKI_KEYSTORE_DIR}/${MY_CA_ROOT_NAME}-ocsp.p12"
XIPKI_OCSP_INTERMEDIATE_P12="${XIPKI_KEYSTORE_DIR}/${MY_CA_INTERMEDIATE_NAME}-ocsp.p12"

# xipki crl
XIPKI_CRL_TOP_DIR="${TOMCAT_XIPKI_DIR}/crls"
XIPKI_CRL_STORE_PREFIX="crl-store-"
XIPKI_CRL_DIR_PREFIX="crl-"


# XiPKI DB UTIL
# these must be relative paths....
XIPKI_DBTOOL_CRL_SCHEMA="xipki-dbtool/sql/ocsp-init.xml"
XIPKI_DBTOOL_CACHE_SCHEMA="xipki-dbtool/sql/ocsp-cache-init.xml"

# Database
DB_ROOT_PASS='xipki'
XIPKI_DB_USER="xipki"
XIPKI_DB_PASS="xipki"
DB_OCSP_CACHE_NAME="ocspcache"
DB_OCSP_CRL_NAME="ocspcrl"


